<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.remapcapslocktocontrol</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/rmgpinto/Library/LaunchAgents/bin/remap-capslock-to-control.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/remapcapslocktocontrol.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/remapcapslocktocontrol.log</string>
  </dict>
</plist>

