<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.backupgitignoredwork</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/rmgpinto/Library/LaunchAgents/bin/backup-git-ignored-work.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/backupgitingoredwork.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/backupgitingoredwork.log</string>
  </dict>
</plist>

