layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    tab name="code" split_direction="vertical" focus=true {
        pane {
            name "nvim"
            size "70%"
            command "zsh"
            args "-c" "if [ -d ../../modules ]; then cd ../../; fi && CWD=$(basename \"$PWD\"); BRANCH=$(/usr/bin/git -C \"$PWD\" rev-parse --abbrev-ref HEAD 2>/dev/null); [ \"$BRANCH\" = HEAD ] && BRANCH=; zellij action rename-tab \"${BRANCH:-code}\"; zellij action rename-session \"${CWD}${BRANCH:+-${BRANCH}}\"; mise activate --shims && ~/.local/share/mise/shims/nvim"
            focus true
        }
        pane split_direction="horizontal" size="30%" {
            pane name="claude" size="50%"
            pane name="shell" size="50%"
        }
    }
}

