layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    tab name="code" split_direction="horizontal" focus=true {
        pane {
            name "nvim"
            size "70%"
            command "zsh"
            args "-c" "if [ -d ../../modules ]; then cd ../../; fi && mise activate --shims && nvim"
            focus true
        }
        pane name="shell" size="30%"
    }
    tab name="git" {
        pane command="lazygit" borderless=true
    }
}

