layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="zjstatus"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="k9s" split_direction="horizontal" focus=true {
        pane name="k9s" size="60%" command="k9s" focus=true
        pane split_direction="vertical" {
            pane name="shell 1"
            pane name="shell 2"
        }
    }
}

