layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    tab name="code" split_direction="horizontal" focus=true {
        pane {
            name "nvim"
            size "70%"
            command "zsh"
            args "-c" "if [ -d ../../modules ]; then cd ../../; fi && nvim"
            focus true
        }
        pane split_direction="vertical" {
          pane name="shell"
          pane name="terraform plan" command="mise watch -t plan --watch . --watch ../../modules"
        }
    }
    tab name="git" {
          pane command="lazygit" borderless=true
    }
}

