layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    tab name="code" split_direction="vertical" hide_floating_panes=true focus=true {
        pane {
            name "nvim"
            size "65%"
            command "zsh"
            args "-c" "if [ -d ../../modules ]; then cd ../../; fi && mise activate --shims && ~/.local/share/mise/shims/nvim"
            focus true
        }
        pane split_direction="horizontal" {
            name "terraform plan"
            command "zsh"
            args "-c" "mise watch -t plan --watch . --watch ../../../terraform/modules"
        }
        floating_panes {
            pane {
                name "terraform apply"
                x "15%"
                y "15%"
                height "70%"
                width "70%"
            }
        }
    }
    tab name="git" {
      pane command="~/.local/share/mise/shims/lazygit" borderless=true
    }
}

